* {
    font-family: 'Courier New', Courier, monospace;
}
.conteiner {
    margin: 30px auto;
    width: 900px;
    background-color: rgb(219, 221, 221);
    padding: 15px;
}
.books, .book {
    text-align: center;
}
.content {
    display: flex;
    justify-content: space-between;
}
.book {
    display: block;
    width: 160px;
    height: 140px;
    border: 1px solid black;
    border-radius: 5px;
    padding: 5px;
}